<template>
	<div id="app">
		<div class="container">
    <vue-autosuggest
      ref="autocomplete"
      :suggestions="suggestions"
      :inputProps="inputProps"
      :sectionConfigs="sectionConfigs"
      :renderSuggestion="renderSuggestion"
      :getSuggestionValue="getSuggestionValue"
		/>
	</div>
	</div>
</template>

<script>
import { VueAutosuggest } from "vue-autosuggest";
import axios from "axios";

const MIN_INPUT_LEN = 3;

export default {
  name: "app",
  components: {
    VueAutosuggest
  },
  data() {
    return {
      results: [],
      timeout: null,
      selected: null,
      debounceMilliseconds: 50,
      apiUrl: "/api/",
      inputProps: {
        id: "autosuggest__input",
        onInputChange: this.fetchResults,
        placeholder: "Do you feel lucky?",
        class: "form-control",
        name: "hello"
      },
      suggestions: [],
      sectionConfigs: {
        geoSuggest: {
          limit: 6,
          label: "geoSuggest",
          onSelected: selected => {
            this.selected = selected.item;
          }
        }
      }
    };
  },
  methods: {
    fetchResults(val) {
      clearTimeout(this.timeout);

      if (!val || val.length < MIN_INPUT_LEN) {
        return;
      }

      this.timeout = setTimeout(() => {
        axios.get(`${this.apiUrl}${val}`).then(values => {
          this.suggestions = [];
          this.selected = null;

          if (values.data) {
            values.data.suggestions &&
            this.suggestions.push({ name: "geoSuggest", data: values.data.suggestions });
          }

        });
      }, this.debounceMilliseconds);
    },
    renderSuggestion(suggestion) {
        return suggestion.label;
    },
    getSuggestionValue(suggestion) {
      return suggestion.label;
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

.avatar {
  height: 25px;
  width: 25px;
  border-radius: 20px;
  margin-right: 10px;
}
#autosuggest__input {
  outline: none;
  position: relative;
  display: block;
  border: 1px solid #616161;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#autosuggest__input.autosuggest__input-open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.autosuggest__results-container {
  position: relative;
  width: 100%;
}

.autosuggest__results {
  font-weight: 300;
  margin: 0;
  position: absolute;
  z-index: 10000001;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: white;
  padding: 0px;
  max-height: 400px;
  overflow-y: scroll;
}

.autosuggest__results ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.autosuggest__results .autosuggest__results_item {
  cursor: pointer;
  padding: 15px;
}

#autosuggest ul:nth-child(1) > .autosuggest__results_title {
  border-top: none;
}

.autosuggest__results .autosuggest__results_title {
  color: gray;
  font-size: 11px;
  margin-left: 0;
  padding: 15px 13px 5px;
  border-top: 1px solid lightgray;
}

.autosuggest__results .autosuggest__results_item:active,
.autosuggest__results .autosuggest__results_item:hover,
.autosuggest__results .autosuggest__results_item:focus,
.autosuggest__results
  .autosuggest__results_item.autosuggest__results_item-highlighted {
  background-color: #f6f6f6;
}
</style>
